.heading
{
    font-size: 20px;
    width: 100%;
    box-shadow: 5px 5px 5px gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 10px;
    bottom: 0px;
    width: 90%;
}

canvas
{
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
}